/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: #333;
}

/* Landing Page Video Section */
.landing-page {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #fff;
}

.video-container {
  width: 40%; /* Video covers slightly less than half the screen */
  height: 100vh; /* Ensures video fills the full height */
  overflow: hidden;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.project-info {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 40px;
  color: #22686d;
}

.attractive-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #22686d;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-left: 160px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  line-height: 1.2;
}
.bold-text {
  font-weight: bold;
  font-size: 65px; /* Make text bold */
}

.cursive-text {
  font-style: italic; /* Cursive text */
  font-weight: lighter;
  font-size: 50px; /* Light weight for a soft effect */
}
.project-info p {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-left: 180px;
  margin-right: 180px;
  color: #22686d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.project-info p:last-of-type {
  margin-bottom: 0;
}

.project-info a.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 180px;
  background-color: #38adb5;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-info a.cta-button:hover {
  background-color: #31969d;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .landing-page {
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 0;
  }

  .video-container {
    width: 50vw;
    height: 100vh; /* Further reduced video height */
  }

  .project-info {
    width: 100%;
    height: 100vh;
    /* padding: 25px; */
    align-items: center;
    text-align: center;
  }

  .attractive-heading {
    font-size: 1.2rem; /* Smaller header size */
    margin-left: 0;
    text-align: center;
    padding: 5px;
  }

  .bold-text {
    font-size: 24px; /* Smaller font size */
  }

  .cursive-text {
    font-size: 22px; /* Smaller cursive font */
  }

  .project-info p {
    font-size: 14px; /* Reduced paragraph text */
    line-height: 1.3; /* Adjust line height */
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px; /* Reduce side padding for text */
  }

  .project-info a.cta-button {
    margin-left: 0;
    padding: 8px 12px; /* Smaller button padding */
    font-size: 12px; /* Smaller button text */
  }
}

@media (max-width: 1024px) {
  .landing-page {
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 0;
  }

  .video-container {
    width: 60vw;
    height: 80vh; /* Further reduced video height */
  }

  .project-info {
    width: 100%;
    height: 80vh;
    /* padding: 25px; */
    /* align-items: center; */
    text-align: left;
  }

  .attractive-heading {
    font-size: 1.5rem; /* Smaller header size */
    margin-left: 0;
    text-align: left;
    padding: 5px;
  }

  .bold-text {
    font-size: 30px; /* Smaller font size */
  }

  .cursive-text {
    font-size: 25px; /* Smaller cursive font */
  }

  .project-info p {
    font-size: 16px; /* Reduced paragraph text */
    line-height: 1.3; /* Adjust line height */
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px; /* Reduce side padding for text */
  }

  .project-info a.cta-button {
    margin-left: 0;
    padding: 8px 12px; /* Smaller button padding */
    font-size: 14px; /* Smaller button text */
  }
}

@media (max-width: 480px) {
  .landing-page {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  .video-container {
    width: 100%;
    height: 40vh; /* Further reduced video height */
  }

  .project-info {
    width: 100%;
    height: auto;
    padding: 15px; /* Smaller padding */
    align-items: center;
    text-align: center;
  }

  .attractive-heading {
    font-size: 1.4rem; /* Smaller header size */
    margin-left: 0;
    padding: 5px;
  }

  .bold-text {
    font-size: 30px; /* Smaller font size */
  }

  .cursive-text {
    font-size: 25px; /* Smaller cursive font */
  }

  .project-info p {
    font-size: 16px; /* Reduced paragraph text */
    line-height: 1.3; /* Adjust line height */
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px; /* Reduce side padding for text */
  }

  .project-info a.cta-button {
    margin-left: 0;
    padding: 8px 12px; /* Smaller button padding */
    font-size: 14px; /* Smaller button text */
  }
  #diseases h2 {
    padding-top: 20px;
    font-size: 30px;
  }

  #diseases p {
    font-size: 16px;
    padding: 5px;
  }

  .diseases-grid {
    margin-top: 0;
    padding: 5px 0;
  }

  .diseases-grid .grid {
    grid-template-columns: repeat(1, 1fr); /* 3 columns instead of 4 */
    grid-row-gap: 20px; /* Vertical gap between rows */ /* Horizontal gap between columns */
    margin-bottom: 20px;
  }

  .diseases-grid .grid-item {
    border-radius: 5px;
  }

  .diseases-grid .grid-item a {
    padding: 10px;
    font-size: 16px;
  }
  .data-chart {
    width: 90%;
  }

  figcaption {
    font-size: 14px;
  }
}
